apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: web-lab4
  namespace: argocd
spec:
  project: default
  source:
    repoURL: https://github.com/pozitp/web-lab4.git
    targetRevision: main
    path: k8s
  destination:
    server: https://kubernetes.default.svc
    namespace: web-lab4
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
    - CreateNamespace=true
  revisionHistoryLimit: 10

